# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.pipenv/
pip-wheel-metadata/

# Flask specific
instance/
*.db
*.sqlite3
*.log
*.pot
*.pyc

# Flask environment variables
.env
.env.*

# Test and coverage files
.coverage
.tox/
.nox/
.cache/
coverage.xml
htmlcov/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Node (if you use frontend tooling)
node_modules/

