<div class="border border-gray-200 p-4 rounded-md">
    <form action="{{url_for('admin.setting_identity')}}" method="post" enctype="multipart/form-data">
        <div class="space-y-2 border-b border-gray-200 pb-7">
            {% if get_identity_settings().get('logo') %}
            <img src="{{get_media(get_identity_settings().get('logo'))}}" alt="Logo" class="w-auto h-[50px] mb-3 border border-gray-200 rounded-md bg-gray-100">
            {% endif %}
            <label class="text-sm font-medium text-gray-600">Logo</label>
            <input type="file" name="logo"
                class="w-full px-4 py-3 rounded-lg border border-gray-200 focus:ring-2 focus:ring-indigo-200 focus:border-indigo-400 transition-all duration-300 outline-none bg-white">
            <!-- status -->
            <p class="text-sm font-medium text-gray-600 pt-3">Status</p>
            <div class="flex items-center">
                <a href="{{ url_for('admin.setting_status', type='logo', status='on') }}" class="text-sm px-4 py-1 flex items-center
                        {% if get_identity_settings().get('logo_status', 'off') == 'on' %}
                            border border-primary bg-primary text-white
                        {% else %}
                            border border-gray-300 text-dark
                        {% endif %}">
                    Custom Logo
                </a>
                <a href="{{ url_for('admin.setting_status', type='logo', status='off') }}" class="text-sm px-4 py-1 flex items-center
                        {% if get_identity_settings().get('logo_status', 'off') == 'off' %}
                            border border-red-500 bg-red-500 text-white
                        {% else %}
                            border border-gray-300 text-dark
                        {% endif %}">
                    Default Logo
                </a>
            </div>
        </div>
        <div class="space-y-2 pt-7">
            {% if get_identity_settings().get('favicon') %}
            <img src="{{get_media(get_identity_settings().get('favicon'))}}" alt="Favicon"
                class="w-[50px] h-[50px] mb-3 border border-gray-200 rounded-md bg-gray-100">
            {% endif %}
            <label class="text-sm font-medium text-gray-600">Favicon</label>
            <input type="file" name="favicon"
                class="w-full px-4 py-3 rounded-lg border border-gray-200 focus:ring-2 focus:ring-indigo-200 focus:border-indigo-400 transition-all duration-300 outline-none bg-white">

            <!-- status -->
            <p class="text-sm font-medium text-gray-600 pt-3">Status</p>
            <div class="flex items-center">
                <a href="{{ url_for('admin.setting_status', type='favicon', status='on') }}" class="text-sm px-4 py-1 flex items-center
                        {% if get_identity_settings().get('favicon_status', 'off') == 'on' %}
                            border border-primary bg-primary text-white
                        {% else %}
                            border border-gray-300 text-dark
                        {% endif %}">
                    Custom Favicon
                </a>
                <a href="{{ url_for('admin.setting_status', type='favicon', status='off') }}" class="text-sm px-4 py-1 flex items-center
                        {% if get_identity_settings().get('favicon_status', 'off') == 'off' %}
                            border border-red-500 bg-red-500 text-white
                        {% else %}
                            border border-gray-300 text-dark
                        {% endif %}">
                    Default Favicon
                </a>
            </div>
        </div>
        <button type="submit"
            class="w-fit mt-5 py-2 px-6 rounded-lg bg-primary hover:bg-opacity-90 text-white font-medium text-base transition-all duration-300 flex items-center justify-center gap-2 shadow-lg">
            <span>Save</span>
        </button>
    </form>
</div>