{% extends "users/layout.html" %} {% block title %}Dashboard{% endblock %}
{%block content %}
<section class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
  <div class="bg-primary group relative shadow-md p-4 rounded-md">
    <h2 class="text-white uppercase font-semibold text-base">Balance</h2>
    <p class="text-white text-base font-semibold">${{data.get('balance')}}</p>
    <i
      class="ri-money-dollar-circle-line absolute right-0 bottom-0 pt-3 text-white text-8xl opacity-10 pointer-events-none"
    ></i>
    <a href="{{url_for('user.creadits')}}" class="absolute rounded-full border border-white text-white flex items-center justify-center opacity-0 group-hover:opacity-100 right-1 top-1 duration-300 w-[30px] h-[30px] "><i class="ri-add-large-line"></i></a>
  </div>
  <div class="bg-primary relative shadow-md p-4 rounded-md">
    <h2 class="text-white uppercase font-semibold text-base">Total verification</h2>
    <p class="text-white text-base font-semibold">#{{data.get('service')}}</p>
    <i
      class="ri-chat-ai-line absolute right-0 bottom-0 pt-3 text-white text-8xl opacity-10 pointer-events-none"
    ></i>
  </div>
  <div class="bg-primary relative shadow-md p-4 rounded-md">
    <h2 class="text-white uppercase font-semibold text-base">Complete verification</h2>
    <p class="text-white text-base font-semibold">#{{data.get('c_service')}}</p>
    <i
      class="ri-chat-ai-line absolute right-0 bottom-0 pt-3 text-white text-8xl opacity-10 pointer-events-none"
    ></i>
  </div>
  <div class="bg-red-600 relative shadow-md p-4 rounded-md">
    <h2 class="text-white uppercase font-semibold text-base">Canceled/Timeout</h2>
    <p class="text-white text-base font-semibold">Cancel: #{{data.get('x_service')}} / Timeout: #{{data.get('tx_service')}}</p>
    <i
      class="ri-close-large-fill absolute right-0 bottom-0 pt-3 text-white text-8xl opacity-10 pointer-events-none"
    ></i>
  </div>
</section>

{% endblock %}
