{% extends "landing/layout.html" %} {%block title%}Home page{%endblock%} {%
block main %}
<!-- banner area -->
<section class="pt-[50px] pb-[100px] bg-bg">
  <div class="container flex flex-col items-center justify-center">
    <div
      data-aos="fade-up"
      class="flex items-center gap-2 rounded-full bg-white text-dark px-2 py-[8px] w-fit"
    >
      <div
        class="bg-primary bg-opacity-10 rounded-full w-[20px] h-[20px] flex items-center justify-center"
      >
        <i class="ri-gemini-fill text-primary duration-1000 animate-spin"></i>
      </div>
      <strong>{{ "{:,}".format(total_services.get('data')) }}+</strong> Service
      Available
    </div>
    <h1
      data-aos="fade-up"
      class="w-full md:w-[75%] text-center font-bold text-4xl leading-[47px] md:text-6xl md:selection:leading-[67px] text-dark mt-1"
    >
      Keep your number <span class="text-secondary">private</span> with our
      service.
    </h1>
    <p
      data-aos="fade-up"
      class="w-full md:w-[70%] text-center text-base text-gray-600 mt-4"
    >
      Keep your personal number private while staying connected. Enjoy seamless
      communication without compromising privacy. Trusted by thousands for
      secure and convenient service.
    </p>

    <button data-aos="fade-up" class="mt-6">
      {%if auth_data.get('auth') == True %} {%if auth_data.get('role') == 'user'
      %}
      <a
        href="{{url_for('user.dashboard')}}"
        class="py-2 px-4 rounded-full group bg-dark shadow-md duration-500 shadow-secondary hover:bg-opacity-90 text-white text-sm capitalize font-medium"
        >Go App
        <i class="ri-arrow-drop-right-line duration-500 group-hover:pl-2"></i
      ></a>
      {%else%}
      <a
        href="{{url_for('admin.dashboard')}}"
        class="py-2 px-4 rounded-full group bg-dark shadow-md duration-500 shadow-secondary hover:bg-opacity-90 text-white text-sm capitalize font-medium"
        >Go Admin
        <i class="ri-arrow-drop-right-line duration-500 group-hover:pl-2"></i
      ></a>
      {%endif%} {%else%}
      <a
        href="{{url_for('landing.signin')}}"
        class="py-2 px-4 rounded-full group bg-dark shadow-md duration-500 shadow-secondary hover:bg-opacity-90 text-white text-sm capitalize font-medium"
        >get started
        <i class="ri-arrow-drop-right-line duration-500 group-hover:pl-2"></i
      ></a>
      {%endif%}
    </button>
  </div>
</section>
<!-- banner area end-->

<!-- how work -->
<section class="py-[100px]">
  <div class="container">
    <div class="flex flex-col items-center justify-center gap-y-2">
      <p
        class="text-primary font-semibold text-center text-sm uppercase"
        data-aos="fade-up"
      >
        Our Process
      </p>
      <h1
        data-aos="fade-up"
        class="text-3xl font-semibold text-dark text-center"
      >
        Let's See How it Works
      </h1>
      <p
        data-aos="fade-up"
        class="text-center text-base text-gray-600 mt-2 w-full md:w-[50%] mx-auto"
      >
        A brief summary of how our service works to keep your number private
        while staying connected.
      </p>
    </div>

    <div
      class="w-full md:w-[80%] lg:w-[70%] mx-auto grid grid-cols-1 md:grid-cols-3 mt-20 gap-10"
    >
      <div
        class="flex flex-col items-center gap-y-3 relative"
        data-aos="zoom-in"
      >
        <img
          src="{{url_for('static', filename='media/right-arrow.png')}}"
          class="absolute h-auto w-[100px] right-[-20px] top-[-50px] hidden md:block"
        />
        <img
          src="{{url_for('static', filename='media/number-one.png')}}"
          class="w-[30px] h-auto"
        />
        <div class="w-[calc(100%-30px)]">
          <p class="text-gray-400 text-sm font-semibold text-center">STEP</p>
          <h1 class="text-lg font-bold text-dark text-center">
            Create Account
          </h1>
          <p class="text-sm text-gray-600 mt-2 text-center">
            Sign up for free and get started with our service in just a few
            minutes.
          </p>
        </div>
      </div>

      <div
        class="flex flex-col items-center gap-y-3 relative"
        data-aos="zoom-in"
      >
        <img
          src="{{url_for('static', filename='media/right-arrow-bttom.png')}}"
          class="absolute h-auto w-[100px] right-[-50px] bottom-[-50px] hidden md:block"
        />
        <img
          src="{{url_for('static', filename='media/number-tow.png')}}"
          class="w-[30px] h-auto"
        />
        <div class="w-[calc(100%-30px)]">
          <p class="text-gray-400 text-sm font-semibold text-center">STEP</p>
          <h1 class="text-lg font-bold text-dark text-center">
            Select Your Service
          </h1>
          <p class="text-sm text-gray-600 mt-2 text-center">
            Choose the service that best suits your needs.
          </p>
        </div>
      </div>

      <div class="flex flex-col items-center gap-y-3" data-aos="zoom-in">
        <img
          src="{{url_for('static', filename='media/numbre-theree.png')}}"
          class="w-[30px] h-auto"
        />
        <div class="w-[calc(100%-30px)]">
          <p class="text-gray-400 text-sm font-semibold text-center">STEP</p>
          <h1 class="text-lg font-bold text-dark text-center">Get OTP</h1>
          <p class="text-sm text-gray-600 mt-2 text-center">
            Receive an OTP to verify your identity and secure your account.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- how work area end -->

<!-- get-start -->
<section class="py-[100px] bg-primary relative overflow-hidden z-[1]">
  <img
    src="{{url_for('static', filename='media/getstartbg.svg')}}"
    class="absolute inset-0 min-w-full min-h-full object-cover z-[-1] opacity-20"
  />
  <div
    class="container flex flex-col items-center justify-center w-full md:w-[60%] mx-auto z-[5]"
  >
    <h1
      data-aos="fade-up"
      class="text-white font-semibold text-4xl text-center"
    >
      Get started today
    </h1>
    <p data-aos="fade-up" class="text-white text-sm text-center mt-3">
      Receiving a verification is quick and easy. We respect your privacy. SMS &
      Voice messages are received instantly and you can easily register for new
      accounts.
    </p>
    <button data-aos="fade-up" class="mt-6">
      {%if auth_data.get('auth') == True %} {%if auth_data.get('role') == 'user'
      %}
      <a
        href="{{url_for('user.dashboard')}}"
        class="py-2 px-4 rounded-full group bg-white shadow-md duration-500 shadow-secondary hover:bg-opacity-90 text-dark text-sm capitalize font-medium"
        >Open App
        <i class="ri-arrow-drop-right-line duration-500 group-hover:pl-2"></i
      ></a>
      {%else%}
      <a
        href="{{url_for('admin.dashboard')}}"
        class="py-2 px-4 rounded-full group bg-white shadow-md duration-500 shadow-secondary hover:bg-opacity-90 text-dark text-sm capitalize font-medium"
        >Open Admin
        <i class="ri-arrow-drop-right-line duration-500 group-hover:pl-2"></i
      ></a>
      {%endif%} {%else%}
      <a
        href="{{url_for('landing.signin')}}"
        class="py-2 px-4 rounded-full group bg-white shadow-md duration-500 shadow-secondary hover:bg-opacity-90 text-dark text-sm capitalize font-medium"
        >Open app
        <i class="ri-arrow-drop-right-line duration-500 group-hover:pl-2"></i
      ></a>
      {%endif%}
    </button>
  </div>
</section>
<!-- end get-start -->

<!-- prices -->
<section class="py-[100px]">
  <div class="container">
    <div class="flex flex-col items-center justify-center gap-y-2">
      <p
        class="text-primary font-semibold text-center text-sm uppercase"
        data-aos="fade-up"
      >
        Our Price
      </p>
      <h1
        data-aos="fade-up"
        class="text-3xl font-semibold text-dark text-center"
      >
        Our Pricing Plans
      </h1>
      <p
        data-aos="fade-up"
        class="text-center text-base text-gray-600 mt-2 w-full md:w-[50%] mx-auto"
      >
        A brief summary of our pricing plans for keeping your number private
        while staying connected.
      </p>
    </div>

    <div
      class="bg-bg w-full md:w-[600px] mx-auto overflow-hidden rounded-lg p-2 mt-14 flex flex-col sm:flex-row items-center"
    >
      <div class="w-full sm:w-1/2 p-3">
        <p data-aos="fade-up" class="text-sm text-dark mb-5 font-normal">
          Pause or cancel at anytime
        </p>
        <ul class="space-y-2">
          <li data-aos="fade-up" class="flex items-center">
            <i
              class="ri-check-line w-[12px] h-[12px] text-[10px] rounded-full bg-primary text-white flex items-center justify-center"
            ></i>
            <span class="ml-2 text-sm text-dark"
              >Get a Non-VoIP US phone number</span
            >
          </li>
          <li data-aos="fade-up" class="flex items-center">
            <i
              class="ri-check-line w-[12px] h-[12px] text-[10px] rounded-full bg-primary text-white flex items-center justify-center"
            ></i>
            <span class="ml-2 text-sm text-dark"
              >Register for any online service</span
            >
          </li>
          <li data-aos="fade-up" class="flex items-center">
            <i
              class="ri-check-line w-[12px] h-[12px] text-[10px] rounded-full bg-primary text-white flex items-center justify-center"
            ></i>
            <span class="ml-2 text-sm text-dark"
              >Short-term phone number reuse</span
            >
          </li>
          <li data-aos="fade-up" class="flex items-center">
            <i
              class="ri-check-line w-[12px] h-[12px] text-[10px] rounded-full bg-primary text-white flex items-center justify-center"
            ></i>
            <span class="ml-2 text-sm text-dark"
              >Receive SMS verification codes</span
            >
          </li>
          <li data-aos="fade-up" class="flex items-center">
            <i
              class="ri-check-line w-[12px] h-[12px] text-[10px] rounded-full bg-primary text-white flex items-center justify-center"
            ></i>
            <span class="ml-2 text-sm text-dark"
              >Respond to voice call verifications</span
            >
          </li>
          <li data-aos="fade-up" class="flex items-center">
            <i
              class="ri-check-line w-[12px] h-[12px] text-[10px] rounded-full bg-primary text-white flex items-center justify-center"
            ></i>
            <span class="ml-2 text-sm text-dark">Choose a US area code</span>
          </li>
        </ul>
      </div>
      <div class="bg-white p-5 rounded-lg w-full sm:w-1/2 h-full">
        <h2 class="text-dark font-semibold text-lg" data-aos="fade-up">
          Verifications
        </h2>
        <p class="text-sm text-gray-500 font-normal mt-1" data-aos="fade-up">
          Receive an SMS OTP or respond to a voice call to register for services
          like Gmail, Tinder, and WhatsApp.
        </p>
        <div class="border-b border-dashed border-gray-200 my-3"></div>
        <h2 data-aos="fade-up" class="text-4xl text-dark font-bold">
          $0.25/<sub><span class="text-lg text-gray-500">Starting</span></sub>
        </h2>
        <a href="{{url_for('landing.signup')}}">
          <button
            data-aos="fade-up"
            class="py-2 px-4 mt-5 rounded-full w-full group bg-dark shadow-md duration-500 shadow-secondary hover:bg-opacity-90 text-white text-sm capitalize font-medium"
          >
            Buy now
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end prices -->

<!-- testimonial -->
<section class="py-[100px] relative z-[1] bg-bg/40">
  <img
    src="{{url_for('static', filename='media/testimonialbg.svg')}}"
    class="absolute bottom-0 left-0 z-[-1] opacity-60 pointer-events-none"
  />
  <div class="container">
    <div class="flex flex-col items-center justify-center gap-y-2">
      <p
        class="text-primary font-semibold text-center text-sm uppercase"
        data-aos="fade-up"
      >
        CAPTION HERE
      </p>
      <h1
        data-aos="fade-up"
        class="text-3xl font-semibold text-dark text-center"
      >
        Testimonials
      </h1>
      <p
        data-aos="fade-up"
        class="text-center text-base text-gray-600 mt-2 w-full md:w-[50%] mx-auto"
      >
        Hear from our satisfied customers who have successfully kept their
        numbers private and stayed connected with our service.
      </p>
    </div>

    <div class="swiper mySwiper mt-14 w-full md:w-[600px]">
      <div class="swiper-wrapper">
        {%if data.get('status') =='success' %} {% for user in data.get('data',
        []) %}
        <div
          class="swiper-slide flex flex-col items-center justify-center gap-2"
        >
          <i
            data-aos="zoom-in"
            class="ri-double-quotes-r w-[50px] h-[50px] text-2xl bg-primary bg-opacity-10 flex items-center justify-center text-primary rounded-full mx-auto mb-5"
          ></i>

          <ul data-aos="fade-up" class="flex items-center justify-center gap-1">
            {% for i in range(1, 6) %}
            <li>
              <i
                class="{% if i <= user.get('rating', 0) %}ri-star-s-fill{% else %}ri-star-s-line{% endif %} text-lg text-yellow-400"
              ></i>
            </li>
            {% endfor %}
          </ul>
          <p data-aos="fade-up" class="text-center text-sm font-semibold">
            {{user.get('message')}}
          </p>
          <div class="mt-4 text-center">
            <h1 class="text-dark text-2xl font-semibold" data-aos="fade-up">
              {{user.get('user_name')}}
            </h1>
            <p
              class="text-gray-400 text-sm font-normal text-center"
              data-aos="fade-up"
            >
              {{user.get('ocopation')}}
            </p>
          </div>
        </div>
        {%endfor%} {%endif%}
      </div>
    </div>

    <div class="flex items-center gap-2 justify-center mt-6" data-aos="zoom-in">
      <div
        class="slider-next w-[100px] h-[40px] bg-gray-100 rounded-full flex items-center justify-center"
      >
        <i class="ri-arrow-left-long-line"></i>
      </div>
      <div
        class="slider-prev w-[100px] h-[40px] bg-gray-100 rounded-full flex items-center justify-center"
      >
        <i class="ri-arrow-right-long-line"></i>
      </div>
    </div>
  </div>
</section>
<!-- testimonial end -->
{% endblock %} {%block page_script%}
<script>
  // swiper
  var swiper = new Swiper(".mySwiper", {
    navigation: {
      nextEl: ".slider-next",
      prevEl: ".slider-prev",
    },
  });
</script>
{%endblock%}
